html {
  margin-left: 2em;
}

form {
  margin-bottom: 30px;
}

label {
  display: block;
}

input {
  display: block;
}

.out {
  font-family: Consolas, monospace;
}

p {
  max-width: 600px;
  overflow-wrap: break-word;
}